.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 2rem;
  }
  
  .items {
    padding: 1rem;
    background-color: #a8c66c;
    border-radius: 10px;
    border:1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .items img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .items h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
  }
  
  .btn {
    margin-top: 1rem;
    display: block;
    text-align: center;
  }
  
  .add {
    background-color: #1b6535;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 40%;
    /* margin-left: 1%; */
    margin-top: 2%;
  }
  
  .add:hover {
    background-color: #444;
  }
  
  .view {
    background-color: #1b6535;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .view:hover {
    background-color: #444;
  }
  
  .loading {
    text-align: center;
    margin-top: 2rem;
  }
  